img {
  height: 100px;
}

header {
  background-color: lightgrey;
  text-align: center;
  border: 3px solid red;
}

header a {
  background-color: orange;
  border: 2px solid orange;
  border-radius: 50px;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
}

td {
  text-align: center;
}

p table {
  text-align: center;
}

th {
  rowspan: 5;
  text-align: center;
}
