td img {
  height: 100px;
}

header {
  background-color: lightgrey;
  text-align: center;
  border: 3px solid grey;
}

header a {
  background-color: lightpink;
  border: 2px solid pink;
  border-radius: 50px;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  color: black;
}

td {
  text-align: center;
}

p table {
  text-align: center;
}

th {
  rowspan: 5;
  text-align: center;
}

body {
  background-color: lightyellow;
}

table, tr, td{
  border: 2px solid black;
}

h3 img {
  text-align: center;
  height: 250px;
  border: 2px solid grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

p {
  font-size: 25px;
}

main {
  background-color: lightgrey;
  border: 3px slashed green;
}

footer {
  background-color: lightgrey;
  border: 3px dotted grey;
}

h3 {
  text-align: center;
}

table img {
  width: 250px;
}
